# Composer
/vendor/

# Node
/node_modules/
npm-debug.log
yarn-error.log

# Environment Files
.env
.env.*
!.env.example

# OS Files
.DS_Store
Thumbs.db

# Storage & Logs
/storage/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Specific
/public/storage
/public/hot
/public/build
/assets/dist/
